<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>Реєстрація користувача</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h2>Форма реєстрації</h2>

    <nav class="navbar">
      <a href="{{ url_for('home') }}">Головна</a>
      <a href="{{ url_for('register') }}">Реєстрація</a>
      <a href="{{ url_for('show_users') }}">Користувачі</a>
      <a href="{{ url_for('gallery') }}">Галерея</a>
    </nav>

    <form method="POST">
      <label>Ім’я:</label>
      <input type="text" name="name" required>

      <label>Email:</label>
      <input type="email" name="email" required>

      <label>Повідомлення:</label>
      <textarea name="message" required></textarea>

      <button type="submit" class="btn">Відправити</button>
    </form>

    <a href="{{ url_for('home') }}" class="btn">Повернутися на головну</a>
  </div>
</body>
</html>
